.feedback {
    background-color: #8aa0b2;
    padding-top: 90px;
    padding-bottom: 90px;
}

.feedback h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #fff;
}

.feedback p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 50px;
}

.feedback__inputs {
    display: flex;
    justify-content: space-between;
}

.feedback__left {
    width: calc(40%);
    margin-right: 31px;
}

.feedback__left div {
    width: 100%;
    margin-bottom: 15px;
}

.feedback__right {
    flex: 1;
}

.feedback__inputs input {
    width: 100%;
    border: none;
    padding-left: 20px;
    border-radius: 2px;
    height: 49px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
}

.feedback__inputs textarea {
    padding: 20px;
    width: 100%;
    height: 242px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    resize: none;
}

.feedback__tar {
    margin-top: 18px;
    text-align: right;
}

.feedback__tar button {
    background: #fff;
    color: #8aa0b2;
    height: 49px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    width: 238px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: background 0.15s ease;
}

.feedback__tar button:hover {
    background: transparent;
    color: #fff;
}

.feedback__conf {
    color: #fff;
    margin-top: 18px;
    letter-spacing: 0.2px;
    line-height: 19px;
    font-size: 12px;
}

.feedback__conf a {
    color: #fff;
}

@media (max-width: 600px) {
    .feedback__left {
        width: 100%;
    }

    .feedback__tar button {
        width: 100%;
    }

    .feedback__inputs {
        flex-direction: column;
    }
}
