.product3 {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

.product3__inner h2 {
    margin-top: 50px;
    font-size: 42px;
    margin-bottom: 10px;
}

.product3__link {
    font-size: 14px;
    color: rgb(68, 68, 68);
    margin-bottom: 40px;
}

.product3__link a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.product3__link a:hover {
    text-decoration: underline;
}
