.product2 {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

.product2__inner h2 {
    margin-top: 50px;
    font-size: 42px;
    margin-bottom: 10px;
}

.product2__link {
    font-size: 14px;
    color: rgb(68, 68, 68);
    margin-bottom: 40px;
}

.product2__link a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.product2__link a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .product2__inner h2 {
        font-size: 24px;
    }
}

@media (max-width: 320px) {
    .product2__inner h2 {
        font-size: 22px;
    }
}
