.projects {
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.85);
}

@media (max-width: 1440px) {
    .projects {
        background-color: #fff;
    }
}

.swiper.swiper2 {
    padding: 5px;
}

.projects__inner {
    padding-top: 120px;
    padding-bottom: 120px;
    color: #243746;
}

.projects__inner h2 {
    font-size: 36px;
}

.projects__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.projects__link a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #243746;
}

.projects__link a:hover svg {
    fill: #0044ff;
}

.projects__link a:hover svg path {
    fill: #fff;
}

.projects__link a:hover svg circle {
    stroke: #0044ff;
}

.swiper-button-prev2 svg {
    transform: rotate(180deg);
}

.swiper-button-prev2:hover svg {
    fill: #0044ff;
}

.swiper-button-prev2:hover svg path {
    fill: #fff;
}

.swiper-button-prev2:hover svg circle {
    stroke: #0044ff;
}

.swiper-button-next2:hover svg {
    fill: #0044ff;
}

.swiper-button-next2:hover svg path {
    fill: #fff;
}

.swiper-button-next2:hover svg circle {
    stroke: #0044ff;
}

.projects__list {
    margin-bottom: 25px;
}

.projects__card {
    background-color: #ffffff;
    border-radius: 10px;
    height: 550px !important;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.25);
}

.projects__card img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    -webkit-aspect-ratio: 4/3;
    -moz-aspect-ratio: 4/3;
    -o-aspect-ratio: 4/3;
    -ms-o-aspect-ratio: 4/3;
    border-radius: 10px 10px 0px 0px;
}

.projects__card h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

.projects__text {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: blue;
}

.projects__text img {
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    right: 0px;
    transition: all 200ms ease-in-out;
}

.projects__text:hover img {
    right: -5px;
}

.projects__card div {
    margin: 20px;
}

.projects__list {
    width: 600px;
}

.projects__swiper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.swiper-scrollbar {
    display: none;
}

.swiper-button-next2 {
    margin-right: -45px;
}

.swiper-button-prev2 {
    margin-left: -45px;
}

.swiper-button-next2 svg:hover {
    cursor: pointer;
}

.swiper-button-prev2 svg:hover {
    cursor: pointer;
}

@media (min-width: 1250px) and (max-width: 1350px) {
}

@media (max-width: 1250px) {
}

@media (max-width: 991px) {
    .swiper-button-next2 {
        display: none;
    }

    .swiper-button-prev2 {
        display: none;
    }

    .swiper-scrollbar {
        display: block;
    }

    .projects__links {
        flex-direction: column;
        align-items: normal;
        margin-bottom: 30px;
    }

    .projects__link {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
    .projects__swiper {
        gap: 5px;
    }

    .projects__inner h2 {
        font-size: 36px;
    }
}

@media (max-width: 380px) {
    .projects__inner h2 {
        font-size: 36px;
    }

    .projects__swiper {
        gap: 0;
    }
}

@media (max-width: 320px) {
    .projects__swiper {
        gap: 0;
    }
}
